.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .card {
    width: 20.4375rem;
    height: 10rem;
    border-radius: 0.9375rem;
    transition: 0.5s ease;

    &:hover {
      transition: 0.5s ease;
      scale: 1.01;
    }

    &__header {
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      width: 100%;
      height: 2.375rem;

      &-icon {
        width: 4.875rem;
        height: auto;
        object-fit: cover;
        position: relative;
        margin-right: 1rem;
        top: 0.0625rem;
      }
    }

    &__content {
      background-color: var(--navy-900);
      border-radius: 0.9375rem;
      padding: 1.71875rem 1.5rem;
      height: 7.625rem;
      transition: 0.5s ease;

      &:hover {
        transition: 0.5s ease;
        background-color: var(--navy-800);
      }

      &-header,
      &-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-details {
        align-items: baseline;
      }

      &-title {
        font-size: 1.125rem;
        line-height: 1.3125rem;
        font-weight: 500;
        color: var(--white);
      }

      &-options {
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 0.969375rem;
          height: 0.2275rem;
        }
      }

      &-hours {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.375rem;
        color: var(--white);
        margin: 0.5rem 0;
      }

      &-previous {
        font-size: 0.9375rem;
        line-height: 1.125rem;
        color: var(--navy-200);
      }
    }
  }
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 11.75rem;
      height: 13.3125rem;

      &__header {
        height: 2.0625rem;

        &-icon {
          width: 3.5625rem;
        }
      }

      &__content {
        width: 11.75rem;
        height: 11.25rem;
        padding: 1.59375rem 1.34375rem;

        &-details {
          flex-direction: column;
        }

        &-hours {
          font-size: 3.5rem;
          line-height: 4.125rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .card {
      width: 11.75rem;
      height: 13.3125rem;

      &__header {
        height: 2.0625rem;

        &-icon {
          width: 3.5625rem;
        }
      }

      &__content {
        width: 11.75rem;
        height: 11.25rem;
        padding: 1.59375rem 1.34375rem;

        &-details {
          flex-direction: column;
        }

        &-hours {
          font-size: 3.5rem;
          line-height: 4.125rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .container {
    gap: 2rem;
    max-width: 51.8125rem;

    .card {
      width: 15.9375rem;
      height: 15.25rem;

      &__header {
        height: 2.8125rem;

        &-icon {
          width: 4.9375rem;
        }
      }

      &__content {
        width: 15.9375rem;
        height: 12.4375rem;
        padding: 1.9375rem 1.875rem;

        &-options img {
          width: 1.3125rem;
          height: 0.3125rem;
        }

        &-details {
          flex-direction: column;
        }

        &-hours {
          font-size: 3.5rem;
          line-height: 4.125rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
}
