.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .card {
    width: 327px;
    height: 160px;
    border-radius: 15px;

    &__header {
      display: flex;
      justify-content: flex-end;
      overflow: hidden;
      width: 100%;
      height: 38px;

      &-icon {
        width: 78px;
        height: auto;
        object-fit: cover;
        position: relative;
        margin-right: 1rem;
      }
    }

    &__content {
      background-color: var(--navy-900);
      border-radius: 15px;
      padding: 27.5px 24px 27.5px 24px;
      height: 122px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-details {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      &-title {
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        color: var(--white);
      }

      &-options {
        background: none;
        border: none;
        cursor: pointer;
      }

      &-hours {
        font-size: 32px;
        font-weight: 300;
        line-height: 38px;
        color: var(--white);
        margin: 0.5rem 0;
      }

      &-previous {
        font-size: 15px;
        line-height: 18px;
        color: var(--navy-200);
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    .card {
      width: 188px;
      height: 213px;

      &__header {
        width: 100%;
        height: 33px;
        &-icon {
          width: 57px;
          height: auto;
          object-fit: cover;
          position: relative;
        }
      }

      &__content {
        width: 188px;
        height: 180px;
        padding: 25.5px 21.5px 25.5px 21.5px;
        &-details {
          flex-direction: column;
        }
        &-hours {
          font-size: 56px;
          line-height: 66px;
          margin-top: 16px;
        }
        &-options {
          & img {
            width: 15.51px;
            height: 3.64px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

    .card {
      width: 255px;
      height: 244px;

      &__header {
        width: 100%;
        height: 45px;
        &-icon {
          width: 57px;
          height: auto;
          object-fit: cover;
          position: relative;
        }
      }

      &__content {
        width: 255px;
        height: 199px;
        padding: 25.5px 21.5px 25.5px 21.5px;
        &-details {
          flex-direction: column;
        }
        &-hours {
          font-size: 56px;
          line-height: 66px;
          margin-top: 16px;
        }
      }
    }
  }
}
