.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20.4375rem;
    height: 12.6875rem;
    background-color: var(--navy-900);
    border-radius: 0.9375rem;

    &__info {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      width: 100%;
      padding: 2rem 2.4375rem 2.3125rem 2rem;
      background-color: var(--purple-600);
      border-radius: 0.9375rem;
      font-weight: 300;

      &-avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        border: 0.1875rem solid var(--white);
      }
    }

    &__details {
      display: flex;
      flex-direction: column;

      &-report {
        font-size: 0.9375rem;
        line-height: 1.125rem;
        color: var(--navy-200);
      }

      &-name {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.75rem;
        color: var(--white);
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 1.5rem 0 1.5625rem;

      .active {
        font-weight: 500;
        color: var(--white);
      }
    }

    &__control-button {
      width: 6.8125rem;
      background-color: transparent;
      color: var(--purple-500);
      cursor: pointer;
      font-size: 1.125rem;
      line-height: 1.3125rem;
      letter-spacing: 0.04375rem;
      text-align: left;

      &:hover,
      &:focus,
      &[aria-pressed='true'] {
        color: var(--white);
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 600px) {
  .dashboard {
    .user {
      width: 38.25rem;

      &__info {
        width: 100%;
      }

      &__controls {
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1025px) {
  .dashboard {
    flex-direction: row;
    gap: 2rem;

    .user {
      width: 15.9375rem;
      height: 32.5rem;

      &__info {
        height: 22.125rem;
        flex-direction: column;
        align-items: baseline;
        gap: 0;

        &-avatar {
          width: 4.875rem;
          height: 4.875rem;
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          margin-bottom: 2.5rem;
        }
      }

      &__details-name {
        font-size: 2.5rem;
        line-height: 2.9375rem;
      }

      &__controls {
        flex-direction: column;
        align-items: baseline;
        gap: 1.3125rem;
        padding: 2rem;
        margin: 0;
      }
    }
  }
}
