.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 2rem;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 203px;
    background-color: var(--navy-900);
    border-radius: 15px;

    &__info {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      width: 327px;
      padding: 32px 39px 37px 32px;
      background-color: var(--purple-600);
      border-radius: 15px;
      font-weight: 300;

      &-avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid var(--white);
      }
    }

    &__details {
      display: flex;
      flex-direction: column;

      &-report {
        font-size: 15px;
        line-height: 18px;
        color: var(--navy-200);
      }

      &-name {
        margin-top: 8px;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        color: var(--white);
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 24px 0 25px 0;

      .active {
        font-weight: 500;
        color: var(--white);
      }
    }

    &__control {
      &-button {
        width: 109px;
        background-color: transparent;
        color: var(--purple-500);
        cursor: pointer;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.7px;

        &:hover,
        &:focus {
          color: var(--white);
        }

        &[aria-pressed='true'] {
          font-weight: 500;
          color: var(--white);
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .dashboard {
    .user {
      width: 612px;

      &__info {
        width: 612px;
        padding: 32px 39px 37px 32px;
      }

      &__controls {
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1025px) {
  .dashboard {
    display: flex;
    flex-direction: row;
    gap: 32px;

    .user {
      width: 255px;
      height: 520px;

      &__info {
        width: 255px;
        height: 354px;
        flex-direction: column;
        align-items: baseline;
      }

      &__details {
        &-name {
          font-size: 40px;
          line-height: 47px;
        }
      }

      &__controls {
        flex-direction: column;
        align-items: baseline;
        gap: 21px;
        padding: 32px;
        margin: 0;
      }

      &__control {
        &-button {
          text-align: left;
        }
      }
    }
  }
}
