.footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.75rem;
  color: var(--grey);

  &__link {
    color: var(--white);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}